.navbar-image-container{
  display: flex;
  align-items: center;
  padding-left: calc(2% - 16px);
  padding-right: calc(2% - 16px);
  justify-content: space-between;
  width: 100%;
}

.navbar-image-logo{
  height: 40px
}

.navbar-other-options{
  display: flex;
  flex-direction: row;
  align-items: center;
}
