<div>
  <div class="relative overflow-hidden" style="height: 400px" #radarContainer>
    <div class="flex flex-wrap top-0" style="height: 400px">
      <ng-container *ngFor="let square of radarSquares">
        <div class="border" [ngStyle]="{ height: square.height, width: square.width }"></div>
      </ng-container>
    </div>

    <div class="absolute top-0 w-full" style="height: 400px">
      <div class="flex justify-center relative h-full">
        <div class="absolute h-2 w-2 z-10 rounded-full bg-gray-400 self-center" #middlePoint></div>

        <div class="absolute h-full bg-gray-500" style="width: 1px"></div>
        <div class="absolute w-full bg-gray-500 self-center" style="height: 1px"></div>
      </div>
    </div>

    <div *ngFor="let airplane of airplanes">
      <div *ngIf="airplane.translation">
        <div class="block absolute top-0 text-gray-600 text-xl" [ngStyle]="{ 'transform': airplane.translation }">
          <div class="relative flex flex-col">
            <span class="text-xs font-semibold absolute top-0 -mt-4 self-center"
                  [ngStyle]="{ 'transform': getTextRotation(airplane) }">{{ airplane.id }}</span>
            <img [ngClass]="{'airplane-selected': airplane.selected}" src="assets/airplane.svg" width="24" height="24"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-muted">400x400</p>
</div>
