<app-navbar></app-navbar>
<div class="p-2 mt-3 h-5/6 bg-gray-100">
    <div class="card shadow" class="bg-white">
        <div class="card-body" style="height: 90vh">
            <h5 class="card-title h4">Radar de aviões</h5>
            <div class="mt-2">
                <app-configuration-bar [airplanes]="airplanes"></app-configuration-bar>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <app-airplane-grafico [airplanes]="airplanes"></app-airplane-grafico>
                </div>
            </div>
        </div>
    </div>
</div>
