<div class="container airplane-em-rota-colisao-container">
    <form class="needs-validation" style="margin-bottom: 0px">
        <span class="h5">Em rota de colisão</span>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="input1" class="form-label">Tempo mínimo</label>
                    <input type="number" class="form-control" id="input1" required />
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Aplicar</button>
        </div>
    </form>
</div>
