<div class="container airplane-avioes-proximos-container">
    <form class="needs-validation">
        <span class="h5">Aviões próximos</span>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="input1" class="form-label">Distância mínima</label>
                    <input type="number" class="form-control" id="input1" required />
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 mb-2">
            <button type="submit" class="btn btn-primary">Aplicar</button>
        </div>
    </form>
</div>
