<div class="container airplane-translandar-container">
    <form class="needs-validation">
        <h5 style="margin-top: 1%; margin-bottom: 2%">Translandar</h5>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="input1" class="form-label">X</label>
                    <input type="number" class="form-control" id="input1" required />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="input2" class="form-label">Y</label>
                    <input type="number" class="form-control" id="input2" required />
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 mb-2">
            <button type="submit" class="btn btn-primary">Aplicar</button>
        </div>
    </form>
</div>
