<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" width="10%"></th>
            <th scope="col">Id</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Raio</th>
            <th scope="col">Ângulo</th>
            <th scope="col">Velocidade</th>
            <th scope="col">Direção</th>
            <th scope="col" width="10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i = index; let airplane; of: airplanes | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: airplanes.length }">
            <th><input class="form-check-input" type="checkbox" value="airplane.selected" /></th>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ airplane.x }}</td>
            <td>{{ airplane.y }}</td>
            <td>{{ airplane.radius }}</td>
            <td>{{ airplane.angle }}</td>
            <td>{{ airplane.speed }}</td>
            <td>{{ airplane.direction }}</td>
            <td (click)="remove(airplane)">
                <a style="color: #646464" role="button"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<pagination-controls
    *ngIf="airplanes.length !== 0 && airplanes.length > 10"
    class="pagination-control float-right"
    (pageChange)="pageChanged($event)"
    [directionLinks]="false"
></pagination-controls>
<div class="not-found" *ngIf="airplanes.length === 0">
    <p class="text-center">Sem aviões cadastrados</p>
</div>
