<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th scope="col" width="5%">
      <input class="form-check-input" [(ngModel)]="allSelecteds" name="allSelecteds" type="checkbox"
             [checked]="allSelecteds" (change)="checkSelectAll()"/>
    </th>
    <th scope="col" width="5%">ID</th>
    <th scope="col" width="12%">X</th>
    <th scope="col" width="12%">Y</th>
    <th scope="col" width="12%">R</th>
    <th scope="col" width="12%">A</th>
    <th scope="col" width="12%">V</th>
    <th scope="col" width="12%">D</th>
    <th scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let i = index; let airplane; of: airplanes | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: airplanes.length }">
    <th><input class="form-check-input" type="checkbox" [checked]="airplane.selected"
               (change)="airplane.selected = !airplane.selected"/></th>
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ airplane.x | number: '1.2-2' }}</td>
    <td>{{ airplane.y | number: '1.2-2' }}</td>
    <td>{{ airplane.radius | number: '1.2-2' }}</td>
    <td>{{ airplane.angle | number: '1.2-2' }}</td>
    <td>{{ airplane.speed | number: '1.2-2' }}</td>
    <td>{{ airplane.direction | number: '1.2-2' }}</td>
    <td class="text-center">
      <a style="color: #646464" role="button" (click)="remove(airplane)"><i class="fa fa-trash"></i></a>
    </td>
  </tr>
  </tbody>
</table>

<pagination-controls
  *ngIf="airplanes.length !== 0 && airplanes.length > 10"
  class="pagination-control float-right"
  (pageChange)="pageChanged($event)"
  [directionLinks]="false"
></pagination-controls>
<div class="not-found" *ngIf="airplanes.length === 0">
  <p class="text-center">Sem aviões cadastrados</p>
</div>
