<div class="container airplane-register-container shadow-5">
    <form (ngSubmit)="add()">
        <h5 class="mt-1 mb-2 h5">Novo avião</h5>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="input1" class="form-label">X</label>
                    <input [(ngModel)]="x" name="x" type="number" class="form-control" id="input1" required />
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="input2" class="form-label">Y</label>
                    <input [(ngModel)]="y" name="y" type="number" class="form-control" id="input2" required />
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="input3" class="form-label">Raio</label>
                    <input [(ngModel)]="radius" name="radius" type="number" class="form-control" id="input3" required />
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="input4" class="form-label">Ângulo</label>
                    <input [(ngModel)]="angle" name="angle" type="number" class="form-control" id="input4" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="input5" class="form-label">Velocidade</label>
                    <input [(ngModel)]="speed" name="speed" type="number" class="form-control" id="input5" required />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="input6" class="form-label">Direção</label>
                    <input [(ngModel)]="direction" name="direction" type="number" class="form-control" id="input6" required />
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 pb-3">
            <button type="submit" class="btn btn-primary">Criar</button>
        </div>
    </form>
</div>
