.mr-1 {
    margin-right: 1%;
}

.mr-2 {
    margin-right: 2%;
}

.mr-4 {
    margin-right: 4%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 4%;
}

.ml-4 {
    margin-left: 4%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
